{% extends 'Master_Page.html' %}
{% block content %}
        <div class="block-header">
                <h2>فرم افزودن اساتید</h2>
            </div>
     <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <h2 class="card-inside-title"> مشخصات استاد</h2>
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input id="FullName" class="form-control" placeholder="نام و نام خانوادگی" type="text" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <select id="Group" class="form-control">
                                        <option value="0">رشته و گرایش</option>
                                        <option value="10">گروه شبکه های کامپیوتری و امنیت</option>
                                        <option value="20">گروه فناوری اطلاعات</option>
                                        <option value="30">گروه معماری سامانه های کامپیوتری</option>
                                        <option value="40">گروه نرم افزار و سیستم های اطلاعاتی</option>
                                        <option value="50">گروه هوش مصنوعی ، رباتیک ، رایانش</option>
                                    </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input id="Email" class="form-control" placeholder="ایمیل (پست الکترونیکی)" type="email" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <input id="MobilePhone" class="form-control" placeholder="تلفن همراه" type="tel" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-2 col-sm-offset-5">
                                <button type="button" class="btn btn-block btn-lg btn-info waves-effect js-sweetalert" data-type="ajax-loader2">افزودن استاد</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


     <div class="block-header">
                <h2>لیست اساتید</h2>
            </div>
     <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>مشخصات</h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام و نام خانوادگی</th>
                                            <th>گروه آموزشی</th>
                                            <th>تاریخ آخرین ورود</th>
                                            <th>ایمیل</th>
                                            <th>تلفن همراه</th>
                                            <th>اعمال تغییرات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for b in Data %}
                                        <tr>
                                            <td>{{ b.id }}</td>
                                            <td>{{ b.Professor.FullName }}</td>
                                            <td>{{ b.Professor.Group }}</td>
                                            <td>{{ b.last_login }}</td>
                                            <td>{{ b.email }}</td>
                                            <td>{{ b.Professor.MobilePhone }}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning waves-effect"  data-toggle="modal" data-target="#defaultModal{{ b.id }}" >تغییر مشخصات</button>
                                                <button class="btn btn-danger waves-effect js-sweetalert" data-type="deleteprf" data-id="{{ b.id }}">حذف</button>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="defaultModal{{ b.id }}" tabindex="-1" role="dialog" style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                 <div class="modal-content">
                                                        <div class="modal-header">
                                                             <h4 class="modal-title" id="defaultModalLabel">تغییر مشخصات استاد</h4>
                                                        </div>
                                                         <div class="modal-body">
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="FullName{{ b.id }}" class="form-control" value="{{ b.Professor.FullName }}" placeholder="نام و نام خانوادگی" type="text" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                    <select id="Group{{ b.id }}" class="form-control">
                                                                        <option value="0">رشته و گرایش</option>
                                                                        <option value="10">گروه شبکه های کامپیوتری و امنیت</option>
                                                                        <option value="20">گروه فناوری اطلاعات</option>
                                                                        <option value="30">گروه معماری سامانه های کامپیوتری</option>
                                                                        <option value="40">گروه نرم افزار و سیستم های اطلاعاتی</option>
                                                                        <option value="50">گروه هوش مصنوعی ، رباتیک ، رایانش</option>
                                                                    </select>
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="MobilePhone{{ b.id }}" class="form-control" value="{{ b.Professor.MobilePhone }}" placeholder="نلفن همراه" type="tel" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="Email{{ b.id }}" class="form-control" value="{{ b.email }}" placeholder="پست الکترونیکی" type="email" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="Username{{ b.id }}" class="form-control" value="{{ b.username }}" placeholder="نام کاربری" type="text" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="Password{{ b.id }}" class="form-control" placeholder="رمز عبور" type="text" />
                                                                </div>
                                                             </div>
                                                         </div>
                                                     <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary waves-effect js-sweetalert" data-id="{{ b.id }}" data-type="editprf">ثبت تغییرات</button>
                                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">بستن پنجره</button>
                                                     </div>
                                                 </div>
                                            </div>
                                         </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
            </div>
{% endblock %}