
{% extends 'Master_Page.html' %}
{% block content %}
<div class="block-header">
                <h2>لیست دانشجویان</h2>
            </div>
     <div class="row clearfix">
                <!-- Task Info -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>مشخصات</h2>

                        </div>
                        <div class="body">
                            <div class="table-responsive">
                                <table class="table table-hover dashboard-task-infos">
                                    <thead>
                                        <tr>
                                            <th>ردیف</th>
                                            <th>نام و نام خانوادگی</th>
                                            <th>شماره دانشجویی</th>
                                            <th>تاریخ آخرین ورود</th>
                                            <th>ایمیل</th>
                                            <th>تلفن همراه</th>
                                            <th>اعمال تغییرات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for b in Data %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ b.Student.FullName }}</td>
                                            <td>{{ b.Student.StudentNumber }}</td>
                                            <td>{{ b.last_login }}</td>
                                            <td>{{ b.email }}</td>
                                            <td>{{ b.Student.MobilePhone }}</td>
                                            <td>
                                                <button type="button" class="btn btn-warning waves-effect"  data-toggle="modal" data-target="#defaultModal{{ b.id }}" >تغییر مشخصات</button>
                                                <button class="btn btn-danger waves-effect js-sweetalert" data-type="deletestd" data-id="{{ b.Student_id }}">حذف</button>
                                            </td>
                                        </tr>
                                        <div class="modal fade" id="defaultModal{{ b.id }}" tabindex="-1" role="dialog" style="display: none;">
                                            <div class="modal-dialog" role="document">
                                                 <div class="modal-content">
                                                        <div class="modal-header">
                                                             <h4 class="modal-title" id="defaultModalLabel">تغییر مشخصات استاد</h4>
                                                        </div>
                                                         <div class="modal-body">
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="FullName{{ b.id }}" class="form-control" value="{{ b.Student.FullName }}" placeholder="نام و نام خانوادگی" type="text" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                    <select id="Field{{ b.id }}" class="form-control">
                                                                        {% if b.Student.StudentField %}
                                                                            <option value="0">کامپیوتر - نرم افزار</option>
                                                                        {% else %}
                                                                            <option value="1">کامپیوتر - سخت افزار</option>
                                                                        {% endif %}
                                                                    </select>
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="MobilePhone{{ b.id }}" class="form-control" value="{{ b.Student.MobilePhone }}" placeholder="نلفن همراه" type="tel" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="Email{{ b.id }}" class="form-control" value="{{ b.email }}" placeholder="پست الکترونیکی" type="email" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="Username{{ b.id }}" class="form-control" value="{{ b.username }}" placeholder="نام کاربری" type="text" />
                                                                </div>
                                                             </div>
                                                             <div class="form-group">
                                                                <div class="form-line">
                                                                     <input id="Password{{ b.id }}" class="form-control" placeholder="رمز عبور" type="text" />
                                                                </div>
                                                             </div>
                                                         </div>
                                                     <div class="modal-footer">
                                                        <button type="button" class="btn btn-primary waves-effect js-sweetalert" data-id="{{ b.Student_id }}" data-type="editstd">ثبت تغییرات</button>
                                                        <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">بستن پنجره</button>
                                                     </div>
                                                 </div>
                                            </div>
                                         </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #END# Task Info -->
            </div>
{% endblock %}